

 .ui.floated.left.top.image{
  padding-top:25px;
   padding-bottom:0px;
}


.ui.menu {
  padding-left :20px;
  padding-right :20px;
  margin-bottom:0px ;
}
h1 {
  padding-top:10px;
  color: white;
}

.top.image {
  padding-top: 0px;

}
.top-left {
  position: absolute;
  top: 30px;
  left: 16px;
  font-size: 50px;
}

.bottom-left {
  position: absolute;
  bottom: 30px;
  left: 16px;
  font-size: 50px;
  color:black;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}


.container.footer {
  position: relative;
  text-align: center;
  color: black;
  margin-bottom:30px ;
  padding-top: 20px;
}
.ui.search.grid {
  background-color:#F6F5F2;
  padding-top:50px;
  padding-bottom: 50px;
  padding-right:50px;
  padding-left: 50px;
}
 .ui.very.relaxed.grid {
   padding-top:50px;
   padding-bottom: 50px;
   padding-right:50px;
   padding-left: 50px;
   opacity: 0.8;
 }

h2 {
background-color: white;
  color:black;
padding-bottom:20px;
  padding-top:15px;
}
.ui.image.container {
  padding-top:20px;
  height:280px;
  width: 250px;
  background-color: white;
}
.homepage.container {
  background-color: black;
  width: 100%;
}
 body, html {
   height: 100%;
 }

 .homepage.container {
   /* The image used */
   background-image: url(/images/pancakes.jpg);

   /* Full height */
   height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top:150px;
   padding-bottom: 150px;

 }


